/*Variable*/
:root {
    --hPanel: 500px;
    --wPanel: 400px;
    --shadow: 0px 4px 16px rgb(141, 138, 138);
    --colorSkyBlue: #41dad6;
    --colorYellow: #4b78cc;
    --colorPink: #573fe2;
  }
  
  body {
    max-height: fit-content;
    background-image: url("../../store/background.png");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  }
  
  /*Main*/
  @-ms-viewport {
    width: device-width;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    /* background: #ffffff; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11pt;
    line-height: 1.5;
    height: 100em;
  }
  
  /*taskbar*/
  
  #taskBar {
    position: fixed;
    background: linear-gradient(90deg, var(--colorSkyBlue) 0%,var(--colorYellow) 70%, var(--colorPink) 100%);
    width: 100%;
    height: 7em;
    z-index: 5;
    top: 0;
    left: 0;
    box-shadow: var(--shadow);
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  
  /*Links*/
  
  .linkContainer {
    position: relative;
    max-width: fit-content;
    margin-right: 3em;
  }
  
  .links img {
    margin: 0.5em;
    width: 2.2em;
  }
  
  /*heading*/
  
  #heading {
    position: relative;
    align-self: center;
    margin-left: 2em;
  }
  
  #heading h1 {
    font-weight: 600;
    color: rgb(56, 53, 53);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  /*mainBody*/
  
  .mainBody {
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }
  
  @media screen and (max-width: 800px) {
    .mainBody {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  .mainBody .components {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  /* panel */
  
  .panel {
    background-color: white;
    height: var(--hPanel);
    width: var(--wPanel);
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    border-radius: 1em;
  }
  
  /*search*/
  
  .container {
    position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .searchPacker {
	margin: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .searchContainer #search {
    width: 250px;
    height: 40px;
    border: 0.1px solid black;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.5em;
    font-size: 10pt;
	margin: 1em;
  }

/*Button*/
  .btn {
    display: flex;
    padding: 0.7em;
    font-size: 10pt;
    border: 0px solid black;
    background-color: white;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
  }

  /*Result*/

.resultContainer {
  margin-bottom: 2em;
  height:inherit;
}

  .resultPacker {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }


  .result {
	  display: flex;
	  flex-direction: column;
  }


  .resultOutput h1 {
	  font-size: small;
  }
  
  /*Size adjustment*/
  @media screen and (max-width: 1280px) {
    :root {
      --hPanel: 390px;
      --wPanel: 310px;
    }
    body {
      font-size: 10pt;
    }
    .searchContainer #search {
      width: 230px;
      height: 33px;
      font-size: 9.5pt;
    }
    .searchContainer #searchList {
      font-size: 9.5pt;
    }
    .btn {
        width: 135px;
        font-size: 9.5pt;
    }
    .links img {
      width: 2em;
    }
  }
  @media screen and (max-width: 650px) {
    :root {
      --hPanel: 370px;
      --wPanel: 300px;
    }
    body {
      font-size: 8pt;
    }
    .searchContainer #search {
      width: 220px;
      height: 28px;
      font-size: 7.5pt;
    }
    .searchContainer #searchList {
      font-size: 7.5pt;
    }
    .btn {
        width: 120px;
        font-size: 7.5pt;
    }
    .links img {
      width: 1.8em;
    }
  }
  @media screen and (max-width: 376px) {
    :root {
      --hPanel: 330px;
      --wPanel: 280px;
    }
    body {
      font-size: 7pt;
    }
    .searchContainer #search {
      width: 200px;
      height: 27px;
      font-size: 7pt;
    }
    .searchContainer #searchList {
      font-size: 7pt;
    }

    .btn {
      font-size: 7pt;
      width: 110px;
    }
    .links img {
      width: 1.6em;
    }
  }
  